.idea/
.vscode/
venv/
.venv/
.DS_store
*.pyc
__pycache__/
media*/
docs/docs/site/
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

.coverage

.env
.envs/.production/
.envs/.local/
.python-version
samurai/static/
firebase_local_folders

# Deployment
*.pem
*.key
id_rsa*
github_actions_deploy*

# Docker
requirements.txt
