volumes:
  production_postgres_data: {}
  production_postgres_data_backups: {}
  production_traefik: {}
  production_django_media: {}
  production_django_venv: {}
  production_redis_data: {}



services:
  django:
    build:
      context: .
      dockerfile: ./compose/production/django/Dockerfile

    image: mynorm_production_django
    volumes:
      - production_django_media:/app/media
      - production_django_venv:/venv
    depends_on:
      - postgres
      - redis
    env_file:
      - .env.production
    command: /start
    ports:
      - '5000:5000'

  postgres:
    build:
      context: .
      dockerfile: ./compose/production/postgres/Dockerfile
    image: mynorm_production_postgres
    volumes:
      - production_postgres_data:/var/lib/postgresql/data
      - production_postgres_data_backups:/backups
    env_file:
      - .env.production
    ports:
      - '5432:5432'

  redis:
    image: redis:7-alpine
    volumes:
      - production_redis_data:/data
    command: redis-server --appendonly yes
    ports:
      - '6379:6379'

  traefik:
    build:
      context: .
      dockerfile: ./compose/production/traefik/Dockerfile
    image: mynorm_production_traefik
    depends_on:
      - django
      - nginx
    volumes:
      - production_traefik:/etc/traefik/acme
    ports:
      - '80:80'
      - '443:443'

  nginx:
    build:
      context: .
      dockerfile: ./compose/production/nginx/Dockerfile
    image: mynorm_production_nginx
    depends_on:
      - django
    volumes:
      - production_django_media:/usr/share/nginx/media:ro
    ports:
      - '8080:8080'

  front:
    build:
      context: ../mera/
      dockerfile: Dockerfile
    ports:
      - '3000:3000'
